<div class="registro-psicologo">
  <div class="frame-wrapper">
    <div class="frame">
      <img class="conectamente" src="assets/ConectaMente-removebg-preview.png" alt="Logo ConectaMente" />

      <div class="group">
        <div class="text-wrapper">Crear una cuenta</div>
      </div>

      <div class="group-2">
        <label class="div">Nombres</label>
        <input class="input" type="text" placeholder="Ingresa tus nombres" />
      </div>

      <div class="group-3">
        <label class="div">Apellidos</label>
        <input class="input" type="text" placeholder="Ingresa tus apellidos" />
      </div>

      <div class="group-4">
        <label class="div">Email</label>
        <input class="input" type="email" placeholder="ejemplo@email.com" />
      </div>

      <div class="group-5">
        <label class="div">Teléfono</label>
        <input class="input" type="tel" placeholder="999 999 999" />
      </div>

      <div class="group-6">
        <label class="div">Especialidad</label>
        <input class="input" type="text" placeholder="Ej: Psicología clínica" />
      </div>

      <div class="group-7">
        <label class="div">Nro. Colegiatura</label>
        <input class="input" type="text" placeholder="Ej: 123456" />
      </div>

      <div class="group-8">
        <label class="div">Contraseña</label>
        <input class="input" type="password" placeholder="********" />
      </div>

      <div class="group-9">
        <label class="div">Confirmar contraseña</label>
        <input class="input" type="password" placeholder="********" />
      </div>

      <button class="btn-crear">Crear</button>

      <div class="group-10">
        <hr class="line" />
        <div class="text-wrapper-3">¿Ya tienes una cuenta?</div>
        <a class="text-wrapper-4" routerLink="/auth/login">Accede a tu cuenta</a>
      </div>
    </div>
  </div>
</div>
