<div class="frame-427318927">
  <div class="frame-427318920">
    <div class="ellipse-2"></div>
    <div class="ellipse-3"></div>
    <div class="vector-4"></div>
    <div class="conecta-personas-con-bienestar-conecta-profesionales-con-propsito"><span class="conectapersonasconbienestarconectaprofesionalesconpropsito_span_01">Conecta personas con </span><span class="conectapersonasconbienestarconectaprofesionalesconpropsito_span_02">bienestar</span><span class="conectapersonasconbienestarconectaprofesionalesconpropsito_span_03">.</span><span class="conectapersonasconbienestarconectaprofesionalesconpropsito_span_04"> </span><span class="conectapersonasconbienestarconectaprofesionalesconpropsito_span_05">Conecta profesionales con </span><span class="conectapersonasconbienestarconectaprofesionalesconpropsito_span_06">propósito</span></div>
    <div class="encuentra-el-especialista-ideal-ofrece-tus-servicios-sin-lmites-todo-en-un-solo-lugar"><span class="encuentraelespecialistaidealofrecetusserviciossinlmitestodoenunsololugar_span">Encuentra el especialista ideal. Ofrece tus servicios sin límites. Todo en un solo lugar.</span></div>
    <div class="conoce-ms">
      <div class="conoce-ms_01"><span class="conocems_01_span">Conoce más</span></div>
    </div>
    <img class="foto_landing-1" src="assets/foto_landing 1.png" />
    <div class="body_landing"></div>
  </div>
  <div class="qu-es-conectamente"><span class="quesconectamente_span_01">¿Qué es </span><span class="quesconectamente_span_02">Conectamente?.</span></div>
  <div class="conectamente-es-una-plataforma-digital-que-facilita-el-encuentro-entre-personas-que-buscan-apoyo-psicolgico-y-profesionales-certificados-que-desean-ofrecer-sus-servicios-de-manera-independiente"><span class="conectamenteesunaplataformadigitalquefacilitaelencuentroentrepersonasquebuscanapoyopsicolgicoyprofesionalescertificadosquedeseanofrecersusserviciosdemaneraindependiente_span">ConectaMente es una plataforma digital que facilita el encuentro entre personas que buscan apoyo psicológico y profesionales certificados que desean ofrecer sus servicios de manera independiente.</span></div>
  <div class="rectangle-15"></div>
  <div class="pacientes"><span class="pacientes_span">Pacientes</span></div>
  <div class="encuentra-psiclogos-confiables-segn-tu-necesidad-cercana-o-presupuesto-elige-entre-sesiones-virtuales-o-presenciales-y-accede-a-atencin-profesional-de-forma-simple"><span class="encuentrapsiclogosconfiablessegntunecesidadcercanaopresupuestoeligeentresesionesvirtualesopresencialesyaccedeaatencinprofesionaldeformasimple_span">Encuentra psicólogos confiables según tu necesidad, cercanía o presupuesto. Elige entre sesiones virtuales o presenciales y accede a atención profesional de forma simple.</span></div>
  <div class="ellipse-6"></div>
  <div class="ellipse-7"></div>
  <div class="users-1">
    <div class="vector"></div>
  </div>
  <div class="rectangle-15_01"></div>
  <div class="psiclogos"><span class="psiclogos_span">Psicólogos</span></div>
  <div class="ejerce-con-libertad-y-visibilidad-gestion-tu-agenda-citas-y-pagos-desde-un-solo-lugar-conectando-fcilmente-con-nuevos-pacientes"><span class="ejerceconlibertadyvisibilidadgestiontuagendacitasypagosdesdeunsololugarconectandofcilmenteconnuevospacientes_span">Ejerce con libertad y visibilidad. Gestioná tu agenda, citas y pagos desde un solo lugar, conectando fácilmente con nuevos pacientes.</span></div>
  <div class="ellipse-6_01"></div>
  <div class="ellipse-7_01"></div>
  <div class="users-1_01">
    <div class="vector_01"></div>
  </div>
  <div class="testimonios"><span class="testimonios_span">Testimonios</span></div>
  <div class="rectangle-84"></div>
  <img class="rectangle-32" src="assets/Rectangle_33.png" />
  <div class="rectangle-38"></div>
  <div class="mariana-lopez-paciente"><span class="marianalopezpaciente_span_01">Mariana Lopez <br/></span><span class="marianalopezpaciente_span_02">Paciente</span></div>
  <div class="gracias-a-conectamente-encontr-una-psicloga-que-realmente-me-entendi-ahora-tengo-ms-claridad-y-paz"><span class="graciasaconectamenteencontrunapsiclogaquerealmentemeentendiahoratengomsclaridadypaz_span">Gracias a ConectaMente encontré una psicóloga que realmente me entendió. Ahora tengo más claridad y paz.</span></div>
  <div class="rectangle-84_01"></div>
 
  <div class="rectangle-38_01"></div>
  <div class="andrs-salazar-psiclogo-clnico"><span class="andrssalazarpsiclogoclnico_span_01">Andrés Salazar<br/></span><span class="andrssalazarpsiclogoclnico_span_02">Psicólogo clínico</span></div>
  <div class="por-fin-trabajo-a-mi-manera-conectamente-me-ayuda-a-tener-control-de-mi-agenda-sin-perder-calidad-de-atencin"><span class="porfintrabajoamimaneraconectamentemeayudaatenercontroldemiagendasinperdercalidaddeatencin_span">Por fin trabajo a mi manera. ConectaMente me ayuda a tener control de mi agenda sin perder calidad de atención.</span></div>
  <div class="rectangle-84_02"></div>
  <img class="rectangle-32_02" src="assets/Group_40.png" />
  <div class="rectangle-38_02"></div>
  <div class="ana-torres-psicloga-de-adolescentes"><span class="anatorrespsiclogadeadolescentes_span_01">Ana Torres<br/></span><span class="anatorrespsiclogadeadolescentes_span_02">Psicóloga de adolescentes</span></div>
  <div class="la-visibilidad-que-he-ganado-en-conectamente-ha-sido-clave-para-mi-desarrollo-profesional"><span class="lavisibilidadqueheganadoenconectamentehasidoclaveparamidesarrolloprofesional_span">La visibilidad que he ganado en ConectaMente ha sido clave para mi desarrollo profesional</span></div>
  <div class="rectangle-84_03"></div>
  <img class="rectangle-32_03" src="https://placehold.co/354x273" />
  <div class="carlos-medina-terapeuta-integrativo"><span class="carlosmedinaterapeutaintegrativo_span_01">Carlos Medina <br/></span><span class="carlosmedinaterapeutaintegrativo_span_02">Terapeuta integrativo</span></div>
  <div class="he-podido-ampliar-mi-red-de-pacientes-sin-preocuparme-por-la-parte-administrativa-todo-est-integrado"><span class="hepodidoampliarmireddepacientessinpreocuparmeporlaparteadministrativatodoestintegrado_span">He podido ampliar mi red de pacientes sin preocuparme por la parte administrativa. Todo está integrado.</span></div>
  <img class="rectangle-33" src="assetsRectangle_33.png" />
  <img class="rectangle-34" src="https://placehold.co/359x273" />
  <div class="rectangle-40"></div>
  <img class="rectangle-34_01" src="assets/Group_236.png" />
  <div class="rectangle-40_01"></div>
  <img class="rectangle-42" src="assets/Rectangle_42.png" />
  <div class="funcionalidades_01">
    <div class="funcionalidades"><span class="funcionalidades_span">Funcionalidades</span></div>
    <div class="rectangle-14"></div>
    <div class="rectangle-15_02"></div>
    <div class="bsqueda-avanzada"><span class="bsquedaavanzada_span">Búsqueda avanzada</span></div>
    <div class="filtra-psiclogos-por-especialidad-ubicacin-y-precio-para-encontrar-el-profesional-adecuado"><span class="filtrapsiclogosporespecialidadubicacinyprecioparaencontrarelprofesionaladecuado_span">Filtra psicólogos por especialidad, ubicación y precio, para encontrar el profesional adecuado.</span></div>
    <div class="rectangle-16"></div>
    <div class="agenda-de-citas"><span class="agendadecitas_span">Agenda de citas</span></div>
    <div class="gestiona-tu-tiempo-de-manera-fcil-programando-y-organizando-citas-sin-complicaciones"><span class="gestionatutiempodemanerafcilprogramandoyorganizandocitassincomplicaciones_span">Gestiona tu tiempo de manera fácil, programando y organizando citas sin complicaciones.</span></div>
    <div class="rectangle-20"></div>
    <div class="rectangle-21"></div>
    <div class="chat-privado-y-seguro"><span class="chatprivadoyseguro_span">Chat privado y seguro</span></div>
    <div class="comunicate-de-forma-confidencial-con-tus-pacientes-antes-y-despus-de-las-sesiones"><span class="comunicatedeformaconfidencialcontuspacientesantesydespusdelassesiones_span">Comunicate de forma confidencial con tus pacientes antes y después de las sesiones.</span></div>
    <div class="notificaciones-automticas"><span class="notificacionesautomticas_span">Notificaciones automáticas</span></div>
    <div class="recibe-alertas-importantes-sobre-citas-mensajes-y-actualizaciones-de-manera-instantnea"><span class="recibealertasimportantessobrecitasmensajesyactualizacionesdemanerainstantnea_span">Recibe alertas importantes sobre citas, mensajes y actualizaciones de manera instantánea.</span></div>
    <div class="male-user"></div>
    <img class="male-user_01" src="assets/Male_User.png" />
    <img class="find-user-male" src="assets/Find_User_Male.png" />
    <img class="calendar" src="assets/Calendar.png" />
    <div class="rectangle-18"></div>
    <div class="pagos-seguros"><span class="pagosseguros_span">Pagos seguros</span></div>
    <div class="realiza-pagos-de-manera-sencilla-y-segura-con-opciones-claras-y-rpidas"><span class="realizapagosdemanerasencillayseguraconopcionesclarasyrpidas_span">Realiza pagos de manera sencilla y segura, con opciones claras y rápidas.</span></div>
    <img class="coin-in-hand" src="assets/Coin_in_Hand.png" />
    <div class="rectangle-19"></div>
    <div class="historial"><span class="historial_span">Historial </span></div>
    <div class="accede-al-registro-completo-de-tus-sesiones-y-pagos-para-tener-todo-bajo-control"><span class="accedealregistrocompletodetussesionesypagosparatenertodobajocontrol_span">Accede al registro completo de tus sesiones y pagos para tener todo bajo control.</span></div>
    <img class="time-machine" src="assets/Time_Machine.png" />
    <img class="chat" src="assets/Chat.png" />
    <img class="push-notifications" src="assets/Push_Notifications.png" />
    <div class="rectangle-17"></div>
    <div class="calificaciones-y-reseas"><span class="calificacionesyreseas_span">Calificaciones y reseñas</span></div>
    <div class="lee-y-deja-reseas-de-sesiones-para-compartir-tu-experiencia-y-ayudar-a-otros-usuarios"><span class="leeydejareseasdesesionesparacompartirtuexperienciayayudaraotrosusuarios_span">Lee y deja reseñas de sesiones para compartir tu experiencia y ayudar a otros usuarios.</span></div>
    <img class="thumbs-up-down" src="assets/Thumbs_Up_Down.png" />
    <div class="perfiles-personalizados"><span class="perfilespersonalizados_span">Perfiles personalizados</span></div>
    <div class="crea-un-perfil-nico-para-mostrar-tu-experiencia-y-necesidades-adaptado-a-tus-preferencias"><span class="creaunperfilnicoparamostrartuexperienciaynecesidadesadaptadoatuspreferencias_span">Crea un perfil único para mostrar tu experiencia y necesidades, adaptado a tus preferencias.</span></div>
    <div class="frame-427318924"></div>
  </div>
  <div class="servicio">
    <div class="frame-427318925">
      <div class="text_servicio"><span class="text_servicio_span">¿Eres psicólogo y te gustaría ofrecer tus <br/>servicios en nuestra plataforma? </span></div>
      <img class="img_servicio" src="assets/img_servicio.png" />
      <div data-property-1="Default" class="btn_trabaja">
        <div class="trabaja-con-nosotros"><span class="trabajaconnosotros_span">Trabaja con nosotros</span></div>
      </div>
    </div>
  </div>
</div>