.ellipse-2 {
  width: 20px;
  height: 19.98px;
  left: 1758px;
  top: 381.44px;
  position: absolute;
  background: #C4C4C4;
  border-radius: 9999px;
}

.ellipse-3 {
  width: 20px;
  height: 19.98px;
  left: 1758px;
  top: 381.44px;
  position: absolute;
  background: #4EE381;
  border-radius: 9999px;
}

.vector-4 {
  width: 9px;
  height: 6.99px;
  left: 1764px;
  top: 388.43px;
  position: absolute;
  outline: 2px white solid;
  outline-offset: -1px;
}

.conectapersonasconbienestarconectaprofesionalesconpropsito_span_01 {
  color: white;
  font-size: 54px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.conectapersonasconbienestarconectaprofesionalesconpropsito_span_02 {
  color: #F48C06;
  font-size: 54px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.conectapersonasconbienestarconectaprofesionalesconpropsito_span_03 {
  color: white;
  font-size: 54px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.conectapersonasconbienestarconectaprofesionalesconpropsito_span_04 {
  color: #F48C06;
  font-size: 54px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.conectapersonasconbienestarconectaprofesionalesconpropsito_span_05 {
  color: white;
  font-size: 54px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.conectapersonasconbienestarconectaprofesionalesconpropsito_span_06 {
  color: #F48C06;
  font-size: 54px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.conecta-personas-con-bienestar-conecta-profesionales-con-propsito {
  width: 681px;
  height: 323px;
  left: 173px;
  top: 150px;
  position: absolute;
}

.encuentraelespecialistaidealofrecetusserviciossinlmitestodoenunsololugar_span {
  color: white;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 38.40px;
  word-wrap: break-word;
}

.encuentra-el-especialista-ideal-ofrece-tus-servicios-sin-lmites-todo-en-un-solo-lugar {
  width: 523px;
  height: 75.93px;
  left: 175px;
  top: 499px;
  position: absolute;
}

.conocems_01_span {
  color: white;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.conoce-ms_01 {
  width: 146px;
  left: 41px;
  top: 14px;
  position: absolute;
}

.foto_landing-1 {
  width: 863px;
  height: 933px;
  left: 960px;
  top: 20px;
  position: absolute;
}

.body_landing {
  width: 1924px;
  height: 4404px;
  left: 0px;
  top: 952px;
  position: absolute;
}

.quesconectamente_span_01 {
  color: #2F327D;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 64.80px;
  word-wrap: break-word;
}

.quesconectamente_span_02 {
  color: #00CBB8;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 64.80px;
  word-wrap: break-word;
}

.qu-es-conectamente {
  left: 739px;
  top: 1056px;
  position: absolute;
}

.conectamenteesunaplataformadigitalquefacilitaelencuentroentrepersonasquebuscanapoyopsicolgicoyprofesionalescertificadosquedeseanofrecersusserviciosdemaneraindependiente_span {
  color: #696984;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 43.20px;
  word-wrap: break-word;
}

.conectamente-es-una-plataforma-digital-que-facilita-el-encuentro-entre-personas-que-buscan-apoyo-psicolgico-y-profesionales-certificados-que-desean-ofrecer-sus-servicios-de-manera-independiente {
  width: 837px;
  left: 541px;
  top: 1130px;
  position: absolute;
  text-align: center;
}

.rectangle-15 {
  width: 550px;
  height: 430px;
  left: 350px;
  top: 1421px;
  position: absolute;
  background: white;
  box-shadow: 0px 10px 60px rgba(38.03, 44.84, 117.94, 0.08);
  border-radius: 20px;
}

.pacientes_span {
  color: #2F327D;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.pacientes {
  width: 345px;
  left: 449px;
  top: 1525px;
  position: absolute;
  text-align: center;
}

.encuentrapsiclogosconfiablessegntunecesidadcercanaopresupuestoeligeentresesionesvirtualesopresencialesyaccedeaatencinprofesionaldeformasimple_span {
  color: #696984;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.encuentra-psiclogos-confiables-segn-tu-necesidad-cercana-o-presupuesto-elige-entre-sesiones-virtuales-o-presenciales-y-accede-a-atencin-profesional-de-forma-simple {
  width: 377px;
  left: 439px;
  top: 1586px;
  position: absolute;
  text-align: center;
}

.ellipse-6 {
  width: 100px;
  height: 100px;
  left: 575px;
  top: 1371px;
  position: absolute;
  background: #00CBB8;
  box-shadow: 0px 16px 40px rgba(37.26, 43.96, 112.62, 0.10);
  border-radius: 9999px;
}

.ellipse-7 {
  width: 100px;
  height: 100px;
  left: 575px;
  top: 1371px;
  position: absolute;
  background: #29B9E7;
  box-shadow: 0px 10px 40px rgba(54.06, 60.89, 136, 0.06);
  border-radius: 9999px;
}

.vector {
  width: 55px;
  height: 38.50px;
  left: 0px;
  top: 2.75px;
  position: absolute;
  background: white;
}

.rectangle-15_01 {
  width: 550px;
  height: 430px;
  left: 1036px;
  top: 1421px;
  position: absolute;
  background: white;
  box-shadow: 0px 10px 60px rgba(38.03, 44.84, 117.94, 0.08);
  border-radius: 20px;
}

.psiclogos_span {
  color: #2F327D;
  font-size: 30px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.psiclogos {
  width: 345px;
  left: 1138px;
  top: 1525px;
  position: absolute;
  text-align: center;
}

.ejerceconlibertadyvisibilidadgestiontuagendacitasypagosdesdeunsololugarconectandofcilmenteconnuevospacientes_span {
  color: #696984;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.ejerce-con-libertad-y-visibilidad-gestion-tu-agenda-citas-y-pagos-desde-un-solo-lugar-conectando-fcilmente-con-nuevos-pacientes {
  width: 377px;
  left: 1134px;
  top: 1611px;
  position: absolute;
  text-align: center;
}

.ellipse-6_01 {
  width: 100px;
  height: 100px;
  left: 1261px;
  top: 1371px;
  position: absolute;
  background: #00CBB8;
  box-shadow: 0px 16px 40px rgba(37.26, 43.96, 112.62, 0.10);
  border-radius: 9999px;
}

.ellipse-7_01 {
  width: 100px;
  height: 100px;
  left: 1261px;
  top: 1371px;
  position: absolute;
  background: #00CBB8;
  box-shadow: 0px 10px 40px rgba(54.06, 60.89, 136, 0.06);
  border-radius: 9999px;
}

.vector_01 {
  width: 55px;
  height: 38.50px;
  left: 0px;
  top: 2.75px;
  position: absolute;
  background: white;
}

.testimonios_span {
  color: #2F327D;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.testimonios {
  left: 818px;
  top: 3614px;
  position: absolute;
  text-align: center;
}

.rectangle-84 {
  width: 396.72px;
  height: 705px;
  left: 87px;
  top: 3760px;
  position: absolute;
  background: white;
  box-shadow: 0px 18.829999923706055px 47.08000183105469px rgba(47, 50, 125, 0.10);
  border-radius: 20px;
}

.rectangle-32 {
  width: 354.30px;
  height: 272.69px;
  left: 109.25px;
  top: 3782.85px;
  position: absolute;
  border-radius: 20px;
}

.rectangle-38 {
  width: 354.30px;
  height: 272.69px;
  left: 109.27px;
  top: 3782.85px;
  position: absolute;
  opacity: 0.10;
  background: #171B41;
  border-radius: 20px;
}

.marianalopezpaciente_span_01 {
  color: #252641;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.marianalopezpaciente_span_02 {
  color: rgba(37, 38, 65, 0.45);
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.mariana-lopez-paciente {
  width: 343.68px;
  height: 87.98px;
  left: 115.64px;
  top: 4126.78px;
  position: absolute;
}

.graciasaconectamenteencontrunapsiclogaquerealmentemeentendiahoratengomsclaridadypaz_span {
  color: #696984;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32.40px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

.gracias-a-conectamente-encontr-una-psicloga-que-realmente-me-entendi-ahora-tengo-ms-claridad-y-paz {
  width: 347.93px;
  height: 116.55px;
  left: 116px;
  top: 4208px;
  position: absolute;
}

.rectangle-84_01 {
  width: 396.72px;
  height: 705px;
  left: 536.76px;
  top: 3760px;
  position: absolute;
  background: white;
  box-shadow: 0px 18.829999923706055px 47.08000183105469px rgba(47, 50, 125, 0.10);
  border-radius: 20px;
}

.rectangle-32_01 {
  width: 354.30px;
  height: 272.69px;
  left: 559.01px;
  top: 3782.85px;
  position: absolute;
  border-radius: 20px;
}

.rectangle-38_01 {
  width: 354.30px;
  height: 272.69px;
  left: 559.03px;
  top: 3782.85px;
  position: absolute;
  opacity: 0.10;
  background: #171B41;
  border-radius: 20px;
}

.andrssalazarpsiclogoclnico_span_01 {
  color: #252641;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.andrssalazarpsiclogoclnico_span_02 {
  color: rgba(37, 38, 65, 0.45);
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.andrs-salazar-psiclogo-clnico {
  width: 343.68px;
  height: 87.98px;
  left: 565.40px;
  top: 4126.78px;
  position: absolute;
}

.porfintrabajoamimaneraconectamentemeayudaatenercontroldemiagendasinperdercalidaddeatencin_span {
  color: #696984;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32.40px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

.por-fin-trabajo-a-mi-manera-conectamente-me-ayuda-a-tener-control-de-mi-agenda-sin-perder-calidad-de-atencin {
  width: 347.93px;
  height: 116.55px;
  left: 561px;
  top: 4208px;
  position: absolute;
}

.rectangle-84_02 {
  width: 396.72px;
  height: 705px;
  left: 986.52px;
  top: 3760px;
  position: absolute;
  background: white;
  box-shadow: 0px 18.829999923706055px 47.08000183105469px rgba(47, 50, 125, 0.10);
  border-radius: 20px;
}

.rectangle-32_02 {
  width: 354.30px;
  height: 272.69px;
  left: 1008.77px;
  top: 3782.85px;
  position: absolute;
  border-radius: 20px;
}

.rectangle-38_02 {
  width: 354.30px;
  height: 272.69px;
  left: 1008.79px;
  top: 3782.85px;
  position: absolute;
  opacity: 0.10;
  background: #171B41;
  border-radius: 20px;
}

.anatorrespsiclogadeadolescentes_span_01 {
  color: #252641;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.anatorrespsiclogadeadolescentes_span_02 {
  color: rgba(37, 38, 65, 0.45);
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.ana-torres-psicloga-de-adolescentes {
  width: 343.68px;
  height: 87.98px;
  left: 1015.16px;
  top: 4126.78px;
  position: absolute;
}

.lavisibilidadqueheganadoenconectamentehasidoclaveparamidesarrolloprofesional_span {
  color: #696984;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32.40px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

.la-visibilidad-que-he-ganado-en-conectamente-ha-sido-clave-para-mi-desarrollo-profesional {
  width: 347.93px;
  height: 116.55px;
  left: 1015px;
  top: 4208px;
  position: absolute;
}

.rectangle-84_03 {
  width: 396.72px;
  height: 705px;
  left: 1436.28px;
  top: 3760px;
  position: absolute;
  background: white;
  box-shadow: 0px 18.829999923706055px 47.08000183105469px rgba(47, 50, 125, 0.10);
  border-radius: 20px;
}

.rectangle-32_03 {
  width: 354.30px;
  height: 272.69px;
  left: 1458.53px;
  top: 3782.85px;
  position: absolute;
  border-radius: 20px;
}

.carlosmedinaterapeutaintegrativo_span_01 {
  color: #252641;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.carlosmedinaterapeutaintegrativo_span_02 {
  color: rgba(37, 38, 65, 0.45);
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.carlos-medina-terapeuta-integrativo {
  width: 343.68px;
  height: 87.98px;
  left: 1464.92px;
  top: 4126.78px;
  position: absolute;
}

.hepodidoampliarmireddepacientessinpreocuparmeporlaparteadministrativatodoestintegrado_span {
  color: #696984;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 32.40px;
  letter-spacing: 0.36px;
  word-wrap: break-word;
}

.he-podido-ampliar-mi-red-de-pacientes-sin-preocuparme-por-la-parte-administrativa-todo-est-integrado {
  width: 347.93px;
  height: 116.55px;
  left: 1471px;
  top: 4208px;
  position: absolute;
}

.rectangle-33 {
  width: 355.35px;
  height: 273.09px;
  left: 109.28px;
  top: 3782.85px;
  position: absolute;
  border-radius: 20px;
}

.rectangle-34 {
  width: 358.53px;
  height: 273.09px;
  left: 557.97px;
  top: 3782.85px;
  position: absolute;
  border-radius: 20px;
}

.rectangle-40 {
  width: 358.53px;
  height: 273.09px;
  left: 557.97px;
  top: 3782.85px;
  position: absolute;
  opacity: 0.10;
  background: #171B41;
  border-radius: 20px;
}

.rectangle-34_01 {
  width: 358.53px;
  height: 273.09px;
  left: 557.97px;
  top: 3782.85px;
  position: absolute;
  border-radius: 20px;
}

.rectangle-40_01 {
  width: 358.53px;
  height: 273.09px;
  left: 557.97px;
  top: 3782.85px;
  position: absolute;
  opacity: 0.10;
  background: #171B41;
  border-radius: 20px;
}

.rectangle-42 {
  width: 355.35px;
  height: 273.09px;
  left: 1458.55px;
  top: 3782.85px;
  position: absolute;
  border-radius: 20px;
}

.funcionalidades_span {
  color: #2F327D;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.funcionalidades {
  left: 773px;
  top: 77px;
  position: absolute;
  text-align: center;
}

.rectangle-14 {
  width: 450px;
  height: 372px;
  left: 225px;
  top: 206px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.rectangle-15_02 {
  width: 450px;
  height: 372px;
  left: 735px;
  top: 206px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.bsquedaavanzada_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.bsqueda-avanzada {
  width: 280px;
  height: 44px;
  left: 829px;
  top: 370px;
  position: absolute;
  text-align: center;
}

.filtrapsiclogosporespecialidadubicacinyprecioparaencontrarelprofesionaladecuado_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filtra-psiclogos-por-especialidad-ubicacin-y-precio-para-encontrar-el-profesional-adecuado {
  width: 283px;
  height: 71px;
  left: 827px;
  top: 428px;
  position: absolute;
  text-align: center;
}

.rectangle-16 {
  width: 450px;
  height: 372px;
  left: 1245px;
  top: 206px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.agendadecitas_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.agenda-de-citas {
  width: 280px;
  height: 44px;
  left: 1330px;
  top: 370px;
  position: absolute;
  text-align: center;
}

.gestionatutiempodemanerafcilprogramandoyorganizandocitassincomplicaciones_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gestiona-tu-tiempo-de-manera-fcil-programando-y-organizando-citas-sin-complicaciones {
  width: 283px;
  height: 71px;
  left: 1330px;
  top: 428px;
  position: absolute;
  text-align: center;
}

.rectangle-20 {
  width: 450px;
  height: 372px;
  left: 472px;
  top: 1084px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.rectangle-21 {
  width: 450px;
  height: 372px;
  left: 998px;
  top: 1084px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.chatprivadoyseguro_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-privado-y-seguro {
  width: 268px;
  height: 44px;
  left: 563px;
  top: 1226px;
  position: absolute;
}

.comunicatedeformaconfidencialcontuspacientesantesydespusdelassesiones_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comunicate-de-forma-confidencial-con-tus-pacientes-antes-y-despus-de-las-sesiones {
  width: 283px;
  height: 45px;
  left: 555px;
  top: 1291px;
  position: absolute;
  text-align: center;
}

.notificacionesautomticas_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.notificaciones-automticas {
  width: 336px;
  height: 44px;
  left: 1055px;
  top: 1226px;
  position: absolute;
}

.recibealertasimportantessobrecitasmensajesyactualizacionesdemanerainstantnea_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.recibe-alertas-importantes-sobre-citas-mensajes-y-actualizaciones-de-manera-instantnea {
  width: 283px;
  height: 71px;
  left: 1081px;
  top: 1291px;
  position: absolute;
  text-align: center;
}

.male-user {
  width: 90px;
  height: 90px;
  left: 625px;
  top: 376px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.male-user_01 {
  width: 90px;
  height: 90px;
  left: 405px;
  top: 246px;
  position: absolute;
}

.find-user-male {
  width: 90px;
  height: 90px;
  left: 915px;
  top: 246px;
  position: absolute;
}

.calendar {
  width: 90px;
  height: 90px;
  left: 1425px;
  top: 246px;
  position: absolute;
}

.rectangle-18 {
  width: 450px;
  height: 372px;
  left: 735px;
  top: 645px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.pagosseguros_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pagos-seguros {
  width: 184px;
  height: 44px;
  left: 868px;
  top: 803px;
  position: absolute;
}

.realizapagosdemanerasencillayseguraconopcionesclarasyrpidas_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.realiza-pagos-de-manera-sencilla-y-segura-con-opciones-claras-y-rpidas {
  width: 283px;
  height: 45px;
  left: 818px;
  top: 860px;
  position: absolute;
  text-align: center;
}

.coin-in-hand {
  width: 90px;
  height: 90px;
  left: 915px;
  top: 687px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle-19 {
  width: 450px;
  height: 372px;
  left: 1245px;
  top: 645px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.historial_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.historial {
  width: 99px;
  height: 44px;
  left: 1420px;
  top: 803px;
  position: absolute;
}

.accedealregistrocompletodetussesionesypagosparatenertodobajocontrol_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.accede-al-registro-completo-de-tus-sesiones-y-pagos-para-tener-todo-bajo-control {
  width: 283px;
  height: 71px;
  left: 1328px;
  top: 860px;
  position: absolute;
  text-align: center;
}

.time-machine {
  width: 90px;
  height: 90px;
  left: 1425px;
  top: 687px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat {
  width: 90px;
  height: 90px;
  left: 652px;
  top: 1106px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.push-notifications {
  width: 90px;
  height: 90px;
  left: 1178px;
  top: 1106px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle-17 {
  width: 450px;
  height: 372px;
  left: 225px;
  top: 645px;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.calificacionesyreseas_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.calificaciones-y-reseas {
  width: 296px;
  height: 44px;
  left: 302px;
  top: 803px;
  position: absolute;
}

.leeydejareseasdesesionesparacompartirtuexperienciayayudaraotrosusuarios_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lee-y-deja-reseas-de-sesiones-para-compartir-tu-experiencia-y-ayudar-a-otros-usuarios {
  width: 283px;
  height: 71px;
  left: 308px;
  top: 865px;
  position: absolute;
  text-align: center;
}

.thumbs-up-down {
  width: 90px;
  height: 90px;
  left: 405px;
  top: 687px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perfilespersonalizados_span {
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.perfiles-personalizados {
  width: 280px;
  height: 44px;
  left: 310px;
  top: 370px;
  position: absolute;
}

.creaunperfilnicoparamostrartuexperienciaynecesidadesadaptadoatuspreferencias_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.crea-un-perfil-nico-para-mostrar-tu-experiencia-y-necesidades-adaptado-a-tus-preferencias {
  width: 283px;
  height: 45px;
  left: 307px;
  top: 428px;
  position: absolute;
  text-align: center;
}

.frame-427318924 {
  width: 1900px;
  height: 1837px;
  left: 0px;
  top: 1531px;
  position: absolute;
}

.text_servicio_span {
  color: black;
  font-size: 36px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}

.text_servicio {
  left: 150px;
  top: 4783px;
  position: absolute;
  text-align: center;
}

.img_servicio {
  width: 744px;
  height: 524px;
  left: 1042px;
  top: 4615px;
  position: absolute;
}

.trabajaconnosotros_span {
  color: white;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.trabaja-con-nosotros {
  width: 247px;
  height: 40.41px;
  left: 52px;
  top: 10px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.conoce-ms {
  width: 227px;
  height: 60px;
  left: 174px;
  top: 618px;
  position: absolute;
  background: #7ECCCD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 80px;
}

.btn_trabaja {
  width: 351px;
  height: 60px;
  left: 342px;
  top: 4929px;
  position: absolute;
  background: #49BBBD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 36px;
}

.users-1 {
  width: 55px;
  height: 44px;
  left: 598px;
  top: 1399px;
  position: absolute;
  overflow: hidden;
}

.users-1_01 {
  width: 55px;
  height: 44px;
  left: 1284px;
  top: 1399px;
  position: absolute;
  overflow: hidden;
}

.funcionalidades_01 {
  width: 100%;
  height: 1553px;
  left: 0px;
  top: 1983px;
  position: absolute;
  background: #EBF5FF;
  overflow: hidden;
}

.frame-427318920 {
  width: 100%;
  height: 953px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #49BBBD;
  overflow: hidden;
}

.frame-427318925 {
  width: 1906px;
  height: 5311px;
  left: 0px;
  top: -4533px;
  position: absolute;
  overflow: hidden;
}

.servicio {
  width: 1917px;
  height: 788px;
  left: 0px;
  top: 4561px;
  position: absolute;
  background: #EBF5FF;
  overflow: hidden;
}

.frame-427318927 {
  width: 100%;
  height: 5357px;
  position: relative;
  background: white;
  overflow: hidden;
}