<div class="header">
  <div class="mensajes">
    <img class="gmail-logo" src="assets/mail.png" />
  </div>
  <div class="logout-button" (click)="logout()">
    <div class="logout">
      <span class="logout_span">Cerrar sesión</span>
    </div>
  </div>
  <div class="mi-cuenta-button" routerLink="paciente/mi_cuenta/configuracion">
    <div class="mi-cuenta">
      <span class="micuenta_span">Mi cuenta</span>
    </div>
  </div>
  <img class="rectangle-1-removebg-preview-1-2" src="assets/logoPrimario.png" routerLink="paciente/pantalla_principal/visualizar-psicologo" />
  <div class="frame-427318914"></div>
</div>
