.ellipse-2 {
  width: 20px;
  height: 19.98px;
  left: 1758px;
  top: 381.44px;
  position: absolute;
  background: #C4C4C4;
  border-radius: 9999px;
}

.ellipse-3 {
  width: 20px;
  height: 19.98px;
  left: 1758px;
  top: 381.44px;
  position: absolute;
  background: #4EE381;
  border-radius: 9999px;
}

.vector-4 {
  width: 9px;
  height: 6.99px;
  left: 1764px;
  top: 388.43px;
  position: absolute;
  outline: 2px white solid;
  outline-offset: -1px;
}

.foto_landing-1 {
  width: 863.29px;
  height: 933px;
  left: 960px;
  top: 20px;
  position: absolute;
}

.sobrenosotros_span {
  color: white;
  font-size: 96px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.sobre-nosotros {
  left: 224px;
  top: 237px;
  position: absolute;
}

.frame-427318921 {
  width: 1920px;
  height: 968px;
  left: 0px;
  top: 10px;
  position: absolute;
}

.queesconectamente_span_01 {
  color: #2F327D;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.queesconectamente_span_02 {
  color: #00CBB8;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.queesconectamente_span_03 {
  color: #2F327D;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.que-es-conectamente {
  left: 689px;
  top: 76px;
  position: absolute;
  text-align: center;
}

.misin_span {
  color: #F6F6F6;
  font-size: 30px;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 14px;
  word-wrap: break-word;
}

.misin {
  left: 31px;
  top: 31px;
  position: absolute;
}

.facilitarelaccesoaserviciosdesaludmentalconfiablesmedianteunaplataformadigitalseguraintuitivaypersonalizadaconectamentebuscaconectarapersonasquerequierenapoyopsicolgicoconprofesionalescalificadosreduciendobarrerascomoladesinformacinladesconfianzaylosaltoscostosiniciales_span {
  color: #F6F6F6;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.facilitar-el-acceso-a-servicios-de-salud-mental-confiables-mediante-una-plataforma-digital-segura-intuitiva-y-personalizada-conectamente-busca-conectar-a-personas-que-requieren-apoyo-psicolgico-con-profesionales-calificados-reduciendo-barreras-como-la-desinformacin-la-desconfianza-y-los-altos-costos-iniciales {
  width: 592px;
  height: 221px;
  left: 31px;
  top: 38px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.visin_span {
  color: white;
  font-size: 30px;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 14px;
  word-wrap: break-word;
}

.visin {
  left: 32px;
  top: 30px;
  position: absolute;
}

.convertirseenunaplataformadigitaldereferenciaensaludmentalenlatinoamricatransformandolamaneraenquelaspersonasaccedenaserviciospsicolgicosyempoderandoalosprofesionalesparaofrecerunaatencindecalidadenunentornoflexibleyaccesible_span {
  color: white;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.convertirse-en-una-plataforma-digital-de-referencia-en-salud-mental-en-latinoamrica-transformando-la-manera-en-que-las-personas-acceden-a-servicios-psicolgicos-y-empoderando-a-los-profesionales-para-ofrecer-una-atencin-de-calidad-en-un-entorno-flexible-y-accesible {
  width: 589px;
  height: 168px;
  left: 32px;
  top: 48px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.text_span {
  color: #2F327D;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.text {
  left: 959px;
  top: 108px;
  position: absolute;
  text-align: center;
}

.conectamentesurgecomounainiciativaorientadaamejorarelaccesoalasaludmentalmediantesolucionestecnolgicaseficientesysegurasnuestroobjetivoesfacilitarelencuentroentrepacientesyprofesionalesdelapsicologaatravsdeunaplataformaconfiableintuitivayflexiblepermitimosquepsiclogosejerzandemaneraindependientegestionandosusserviciosenunentornodiseadoparaoptimizarlaatencinylaorganizacinalmismotiempobrindamosalospacientesherramientasparaencontrarcompararycontactaraespecialistasqueseajustenasusnecesidadespersonalesenconectamentetrabajamosparaqueelaccesoaunaatencinpsicolgicadecalidadseaunprocesotransparenteaccesibleyprofesional_span {
  color: black;
  font-size: 24px;
  font-family: Nunito Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.conectamente-surge-como-una-iniciativa-orientada-a-mejorar-el-acceso-a-la-salud-mental-mediante-soluciones-tecnolgicas-eficientes-y-seguras-nuestro-objetivo-es-facilitar-el-encuentro-entre-pacientes-y-profesionales-de-la-psicologa-a-travs-de-una-plataforma-confiable-intuitiva-y-flexible-permitimos-que-psiclogos-ejerzan-de-manera-independiente-gestionando-sus-servicios-en-un-entorno-diseado-para-optimizar-la-atencin-y-la-organizacin-al-mismo-tiempo-brindamos-a-los-pacientes-herramientas-para-encontrar-comparar-y-contactar-a-especialistas-que-se-ajusten-a-sus-necesidades-personales-en-conectamente-trabajamos-para-que-el-acceso-a-una-atencin-psicolgica-de-calidad-sea-un-proceso-transparente-accesible-y-profesional {
  width: 1241px;
  height: 330px;
  left: 334px;
  top: 211px;
  position: absolute;
}

.nuestroequipo_span {
  color: #2F327D;
  font-size: 44px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 79.20px;
  word-wrap: break-word;
}

.nuestro-equipo {
  left: 839px;
  top: 1982px;
  position: absolute;
  text-align: center;
}

.favioarroyogamarra_span {
  color: black;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.favio-arroyo-gamarra {
  left: 87px;
  top: 182px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image {
  width: 150px;
  height: 150px;
  left: 95px;
  top: 16px;
  position: absolute;
  border-radius: 100px;
}

.soyfavioarroyogamarraestudiantedelacarreradecienciasdelacomputacinsoyunapersonamuyapasionadaporloquehagoactualmentedeseoculminarmicarrerayestudiarenelextranjerocontodoslosconocimientosposiblesquepuedaadquiriraunqueprincipalmentemegustaracentrarmeendatascienceciberseguridadeinteligenciaartificial_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.soy-favio-arroyo-gamarra-estudiante-de-la-carrera-de-ciencias-de-la-computacin-soy-una-persona-muy-apasionada-por-lo-que-hago-actualmente-deseo-culminar-mi-carrera-y-estudiar-en-el-extranjero-con-todos-los-conocimientos-posibles-que-pueda-adquirir-aunque-principalmente-me-gustara-centrarme-en-data-science-ciberseguridad-e-inteligencia-artificial {
  width: 283px;
  left: 40px;
  top: 251px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image_01 {
  width: 150px;
  height: 150px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.francescanicolebancestorres_span {
  color: black;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.francesca-nicole-bances-torres {
  left: 85px;
  top: 182px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.soyfrancescanicolebancestorresestudiantedelacarreradecienciasdelacomputacinmeinteresanlostemasrelacionadoscondatascienceymachinelearningtengoconocimientosenlenguajesdeprogramacincomosqlrpythonycademscreoquepuedoaportarenestetrabajoconmishabilidadesenhtmlcssangularybasesdedatos_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.soy-francesca-nicole-bances-torres-estudiante-de-la-carrera-de-ciencias-de-la-computacin-me-interesan-los-temas-relacionados-con-data-science-y-machine-learning-tengo-conocimientos-en-lenguajes-de-programacin-como-sql-r-python-y-c-adems-creo-que-puedo-aportar-en-este-trabajo-con-mis-habilidades-en-html-css-angular-y-bases-de-datos {
  width: 283px;
  left: 28px;
  top: 250px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image-6 {
  width: 150px;
  height: 150px;

  position: absolute;
}

.image-16 {
  width: 150px;
  height: 150px;
  position: absolute;
}

.andrelliotescalantebueno_span {
  color: black;
  font-size: 21px;
  font-family: Quicksand;
  font-weight: 600;
  line-height: 14px;
  word-wrap: break-word;
}

.andr-elliot-escalante-bueno {
  left: 84px;
  top: 184px;
  position: absolute;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.soyandrescalanteestudiantedelacarreradecienciasdelacomputacinmeconsiderounapersonacuriosaalaquelegustadescubriryaprendersobrediversostemasaladentrarmeenelmundodelaprogramacindescubrunagranvariedadderamasytpicosqueparecensacadosdelacienciaficcinactualmentemismayoresinteresessonlacienciadedatosylainteligenciaartificial_span {
  color: black;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.soy-andr-escalante-estudiante-de-la-carrera-de-ciencias-de-la-computacin-me-considero-una-persona-curiosa-a-la-que-le-gusta-descubrir-y-aprender-sobre-diversos-temas-al-adentrarme-en-el-mundo-de-la-programacin-descubr-una-gran-variedad-de-ramas-y-tpicos-que-parecen-sacados-de-la-ciencia-ficcin-actualmente-mis-mayores-intereses-son-la-ciencia-de-datos-y-la-inteligencia-artificial {
  width: 283px;
  left: 28px;
  top: 242px;
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.frame-72 {
  width: 654px;
  height: 240px;
  left: 1001px;
  top: 618px;
  position: absolute;
  background: #49BBBD;
  overflow: hidden;
  border-radius: 25px;
}

.frame-71 {
  width: 654px;
  height: 240px;
  left: 250px;
  top: 618px;
  position: absolute;
  background: #49BBBD;
  overflow: hidden;
  border-radius: 25px;
}

.frame-427318922 {
  width: 1920px;
  height: 978px;
  left: 0px;
  top: 943px;
  position: absolute;
  overflow: hidden;
}

.frame-111 {
  width: 340px;
  height: 594px;
  left: 1334px;
  top: 2167px;
  position: absolute;
  background: #EBF5FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;
}

.frame-115 {
  width: 150px;
  height: 150px;
  left: 95px;
  top: 19px;
  position: absolute;
  background: #5CB4B5;
  overflow: hidden;
  border-radius: 100px;
}

.frame-115_01 {
  width: 150px;
  height: 150px;
  left: 95px;
  top: 20px;
  position: absolute;
  background: #5CB4B5;
  overflow: hidden;
  border-radius: 100px;
}

.mision_vision {
  width: 1920px;
  height: 967px;
  left: 0px;
  top: 943px;
  position: absolute;
  background: #EBF5FF;
  overflow: hidden;
}

.planes-y-precios {
  width: 1920px;
  height: 953px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #49BBBD;
  overflow: hidden;
}

.frame-112 {
  width: 340px;
  height: 579px;
  left: 301px;
  top: 2172px;
  position: absolute;
  background: #EBF5FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;
}

.frame-114 {
  width: 340px;
  height: 579px;
  left: 808px;
  top: 2172px;
  position: absolute;
  background: #EBF5FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;
}

.body {
  width: 1920px;
  height: 2894px;
  position: relative;
  background: white;
  overflow: hidden;
}