.box {
  width: 100%;
  height: 634px;
  background-color: #252641;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.box .footer {
  width: 100%;
  height: 634px;
  background-color: transparent;
  position: relative;
}

.box .overlap-group {
  width: 100%;
  height: 634px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.box .rectangle {
  position: absolute;
  width: 100%;
  height: 593px;
  top: 41px;
  left: 0;
}

.box .text-wrapper {
  margin-top: 30px;
  text-align: center;
  font-family: var(--text-2-font-family);
  font-weight: var(--text-2-font-weight);
  color: #dfdcdc;
  font-size: 20px;
  letter-spacing: var(--text-2-letter-spacing);
  line-height: var(--text-2-line-height);
  font-style: var(--text-2-font-style);
}

.box .div {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: auto;
}

.box .facebook,
.box .instagram,
.box .you-tube {
  width: 77px;
  height: 56px;
}

.box .email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.box .frame {
  display: flex;
  align-items: center;
  gap: 6px;
}

.box .mail {
  width: 30px;
  height: 30px;
}

.box .info-conectamente-pe {
  width: 244px;
  font-family: var(--text-2-font-family);
  font-weight: var(--text-2-font-weight);
  color: #dfdcdc;
  font-size: 20px;
  letter-spacing: var(--text-2-letter-spacing);
  line-height: var(--text-2-line-height);
  font-style: var(--text-2-font-style);
  background: transparent;
  border: none;
  text-align: center;
}

.box .text1{
    font-size: 24px;
    color: #dfdcdc;
    padding-top: 30px;
}
