
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="footer.component.css" />
  </head>
  <body>
    <div class="box">
      <footer class="footer">
        <div class="overlap-group">
          <img class="group" src="assets/logoPrimario.png" />
          <div class="div">
            <img class="facebook" src="assets/logo_facebook.png" />
            <img class="you-tube" src="assets/logo_youtube.png" />
            <img class="instagram" src="assets/logo_instagram.png" />
          </div>
          <div class="email">
            <div class="text-wrapper">Contáctanos</div>
            <div class="frame">
              <img class="mail" src="assets/mail.png" />
              <input class="info-conectamente-pe" placeholder="info@conectamente.pe" type="email" />
            </div>
            <div class="text1">© 2025 Class Technologies Inc.</div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

