<div class="body_vista_pacientes">
  <img class="fondo_vista_paciente" src="assets/fondo_vista_paciente.png" />
  <div class="barra_buscadora"></div>
  <div class="btn_buscar"></div>
  <div class="buscar"><span class="buscar_span">Buscar</span></div>
  <div class="buscar-psiclogo"><span class="buscarpsiclogo_span">Buscar psicólogo</span></div>
  <!--<div class="especialidad_fondo"></div>
  <div class="text-"><span class="fspan"></span></div>
  <div class="especialidad_filtro"><span class="especialidad_span">Especialidad</span></div>
  -->
  <mat-form-field appearance="fill">
  <mat-label>Especialidad</mat-label>
  <mat-select [(ngModel)]="filtroEspecialidad">
    <mat-option [value]="null">Todas</mat-option>
    <mat-option *ngFor="let e of especialidades" [value]="e.value">{{ e.label }}</mat-option>
  </mat-select>
</mat-form-field>

  <div class="ubicacion_fondo"></div>
  <div class="text-_01"><span class="f01_span"></span></div>
  <div class="ubicacion_filtro"><span class="ubicacin_span">Ubicación</span></div>
  <div class="precio_fondo"></div>
  <div class="text-_02"><span class="f02_span"></span></div>
  <div class="precio_filtro"><span class="precio_span">Precio</span></div>
  <!--<div class="rectangle"></div> fondo-->
  <div class="page-content">
  <div class="resultados"><span class="resultados_span">Resultados</span></div>
  <div class="psicologo-grid">
  <div class="psicologo-card" *ngFor="let p of psicologos">
    <div class="nombre">{{ p.nombre }} {{ p.apellido }}</div>
    <div class="especialidad">Psicología {{ p.especialidad }}</div>

    <div class="fila-dato">
      <img class="icon" src="assets/Location.png" alt="Ubicación">
      <div class="direccion">{{ p.direccion }}</div>
    </div>

    <div class="fila-dato">
      <img class="icon" src="assets/Department.png" alt="Modalidad">
      <div class="modalidad">{{ p.modalidad }}</div>
    </div>

    <!--<div class="fila-dato">
      <img class="icon" src="assets/Literature.png" alt="Terapias">
      <div class="terapias">{{ p.especialidad }}</div>
    </div>
    -->

    <div class="fila-dato">
      <img class="icon" src="assets/Cash.png" alt="Precio">
      <div class="precio">Precio desde S/ {{ p.tarifa }}</div>
    </div>

    <div class="fila-dato">
      <img class="icon" src="assets/Clock.png" alt="Horario">
      <div class="horario">{{ p.disponibilidad }}</div>
    </div>
  </div>
</div>
</div>
</div>