.fondo_vista_paciente {
  width: 100%;
  height: 326px;
  left: 0px;
  top: 2px;
  position: absolute;
  z-index: -1;
}

.barra_buscadora {
  width: 1319px;
  height: 73px;
  left: 303px;
  top: 82px;
  position: absolute;
  background: white;
  border-radius: 10px;
  z-index: 0
}

.btn_buscar {
  width: 183.16px;
  height: 63px;
  left: 1433.25px;
  top: 87px;
  position: absolute;
  background: #49BBBD;
  border-radius: 12px;
  z-index: 0
}

.buscar_span {
  color: white;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
}

.buscar {
  width: 88px;
  height: 31px;
  left: 1481px;
  top: 99px;
  position: absolute;
}

.buscarpsiclogo_span {
  color: rgba(130.57, 131.38, 154.06, 0.60);
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0.80px;
  word-wrap: break-word;
}

.buscar-psiclogo {
  width: 209px;
  left: 333px;
  top: 103px;
  position: absolute;
  text-align: center;
}



.fspan {
  color: #252641;
  font-size: 24px;
  font-family: Font Awesome 5 Free;
  font-weight: 900;
  line-height: 32px;
  word-wrap: break-word;
}

.text- {
  width: 24.62px;
  height: 32px;
  left: 522.84px;
  top: 197px;
  position: absolute;
}

.especialidad_span {
  color: #252641;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.96px;
  word-wrap: break-word;
}

.especialidad_filtro {
  width: 178.89px;
  left: 327.54px;
  top: 193px;
  position: absolute;
  text-align: center;
}

.ubicacion_fondo {
  width: 279px;
  height: 73px;
  left: 614px;
  top: 175px;
  position: absolute;
  background: white;
  border-radius: 10px;
  z-index: 0;
}

.f01_span {
  color: #252641;
  font-size: 24px;
  font-family: Font Awesome 5 Free;
  font-weight: 900;
  line-height: 32px;
  word-wrap: break-word;
}

.text-_01 {
  width: 24.62px;
  height: 32px;
  left: 838.84px;
  top: 197px;
  position: absolute;
}

.ubicacin_span {
  color: #252641;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.96px;
  word-wrap: break-word;
}

.ubicacion_filtro {
  width: 178.89px;
  left: 643.54px;
  top: 193px;
  position: absolute;
  text-align: center;
}

.precio_fondo {
  width: 279px;
  height: 73px;
  left: 930px;
  top: 175px;
  position: absolute;
  border-radius: 10px;
  z-index: 0;
  background: white;
}

.f02_span {
  color: #252641;
  font-size: 24px;
  font-family: Font Awesome 5 Free;
  font-weight: 900;
  line-height: 32px;
  word-wrap: break-word;
}

.text-_02 {
  width: 24.62px;
  height: 32px;
  left: 1160.08px;
  top: 195px;
  position: absolute;
}

.precio_span {
  color: #252641;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.96px;
  word-wrap: break-word;
}

.precio_filtro {
  width: 206.34px;
  left: 953.25px;
  top: 193px;
  position: absolute;
  text-align: center;
}


.body_vista_pacientes {
  width: 100%;
  
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 330px;
  z-index: 0;
  background: rgba(157, 204, 255, 0.2);
}


/* info paciente */
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* opcional, para centrar horizontalmente todo */
  padding: 4rem 2rem;
  z-index: 0;
}

.resultados {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.psicologo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(484px, 1fr));
  gap: 5rem;
  width: 100%;
  max-width: 100%;
  justify-items: center;
}

.psicologo-card {
  width: 484px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.psicologo-card:hover {
  transform: translateY(-5px);
}
.nombre {
  font-weight: bold;
  font-size: 1.2rem;
}

.especialidad {
  color: #666;
  font-size: 1rem;
}

.icon {
  width: 25px;
  height: 25px;
  margin-top: 0.6rem;
}

.direccion, .modalidad, .terapias, .precio, .horario {
  font-size: 0.95rem;
}

.fila-dato {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

