<div class="frame-427318928">
  <div class="planes-y-precios">
    <div class="ellipse-2"></div>
    <div class="ellipse-3"></div>
    <div class="vector-4"></div>
    <img class="foto_landing-1" src="assets/foto_landing 1.png" />
    <div class="planes-y-precios_01"><span class="planesyprecios_01_span">Planes y precios </span></div>
    <div class="conectamente-ofrece-una-experiencia-transparente-y-sin-barreras-los-pacientes-acceden-de-forma-gratuita-y-los-profesionales-solo-pagan-una-pequea-comisin-por-cada-consulta-realizada-as-todos-ganan-ms-acceso-ms-oportunidades-ms-bienestar"><span class="conectamenteofreceunaexperienciatransparenteysinbarreraslospacientesaccedendeformagratuitaylosprofesionalessolopaganunapequeacomisinporcadaconsultarealizadaastodosgananmsaccesomsoportunidadesmsbienestar_span">ConectaMente ofrece una experiencia transparente y sin barreras. Los pacientes acceden de forma gratuita, y los profesionales solo pagan una pequeña comisión por cada consulta realizada. Así, todos ganan: más acceso, más oportunidades, más bienestar.</span></div>
  </div>
  <div class="rectangle"></div>
  <div class="suscripciones_01">
    <div class="suscripciones"><span class="suscripciones_span">Suscripciones</span></div>
    <div class="plan">
      <div class="instance--background-8-dp">
        <div class="bg"></div>
      </div>
      <div class="plans-1">
        <div class="free-forever"><span class="freeforever_span">Gratuita</span></div>
        <div class="like-a-pussy"><span class="likeapussy_span">Pacientes</span></div>
        <div class="components-driven-system"><span class="components-drivensystem_span">Buscar psicólogos por especialidad, ubicación o precio</span></div>
        <div class="sales-boosting-landing-pages"><span class="sales-boostinglandingpages_span">Reservar sesiones virtuales o presenciales</span></div>
        <div class="icon-acrylic">
          <div class="instance--background-99-dp"></div>
        </div>
        <div class="awesome-feather-icons-pack"><span class="awesomefeathericonspack_span">Usar el chat privado y seguro</span></div>
      </div>
      <div class="guardar-tu-historial-de-citas-y-pagos"><span class="guardartuhistorialdecitasypagos_span">Guardar tu historial de citas y pagos</span></div>
      <div class="icon-acrylic_01">
        <div class="instance--background-99-dp_01"></div>
      </div>
      <div class="calificar-y-dejar-reseas"><span class="calificarydejarreseas_span">Calificar y dejar reseñas</span></div>
      <img class="check-mark" src="assets/Check_Mark.png" />
      <img class="check-mark_01" src="assets/Check_Mark.png" />
      <img class="check-mark_02" src="assets/Check_Mark.png" />
      <img class="check-mark_03" src="assets/Check_Mark.png" />
      <img class="check-mark_04" src="assets/Check_Mark.png" />
    </div>
    <div class="icon-acrylic-1"></div>
    <div class="plan_01">
      <div class="instance--background-16-dp">
        <div class="bg_01"></div>
      </div>
      <div class="plans-1_01">
        <div class="text-24-month"><span class="f4month_span_01">5% </span><span class="f4month_span_02">/ consulta</span></div>
        <div class="text--individual"><span class="individual_span">Psicólogos</span></div>
        <div class="components-driven-system_01"><span class="components-drivensystem_01_span">Perfil profesional visible para cientos de pacientes</span></div>
        <div class="sales-boosting-landing-pages_01"><span class="sales-boostinglandingpages_01_span">Gestión de agenda, pagos y recordatorios</span></div>
        <div class="awesome-feather-icons-pack_01"><span class="awesomefeathericonspack_01_span">Chat seguro y seguimiento de sesiones</span></div>
        <div class="themed-into-3-different-styles"><span class="themedinto3differentstyles_span">Acceso a historial y calificaciones</span></div>
        <div class="will-help-to-learn-figma"><span class="willhelptolearnfigma_span">Total libertad para fijar tus tarifas y disponibilidad</span></div>
      </div>
      <img class="check-mark_05" src="assets/Check_Mark.png" />
      <img class="check-mark_06" src="assets/Check_Mark.png" />
      <img class="check-mark_07" src="assets/Check_Mark.png" />
      <img class="check-mark_08" src="assets/Check_Mark.png" />
      <img class="check-mark_09" src="assets/Check_Mark.png" />
    </div>
  </div>
</div>