<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css" />
  </head>
  <body>
    <div class="login">
      <div class="div">
        <div class="frame">
          <div class="overlap-group">
            <div class="group">
              <div class="div-wrapper"><div class="text-wrapper">Accede a tu cuenta</div></div>
              <div class="group-2">
                <div class="group-3"><div class="text-wrapper-2">Email</div></div>
                <div class="group-wrapper">
                  <div class="group-4"><div class="text-wrapper-2">Contraseña</div></div>
                </div>
              </div>
            </div>
            <div class="input"><div class="text-wrapper-3">Empty label</div></div>
            <div class="input-2"><div class="text-wrapper-3">Empty label</div></div>
            <div class="btn-acceder"><div class="text-wrapper-4">Acceder</div></div>
          </div>
          <img class="conectamente" src="img/conectamente-removebg-preview.png" />
          <div class="group-5">
            <img class="line" src="img/line-4.svg" />
            <div class="text-wrapper-5">¿No tienes cuenta?</div>
            <div class="text-wrapper-6">Crear cuenta</div>
            <div class="text-wrapper-7">Olvidé mi contraseña</div>
          </div>
        </div>
        <div class="image-wrapper"><img class="image" src="img/image-15.png" /></div>
      </div>
    </div>
  </body>
</html>