<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">
  <div class="div">
    <div class="frame">
      <div class="overlap-group">
        <div class="group">
          <div class="div-wrapper">
            <div class="text-wrapper">Accede a tu cuenta</div>
          </div>
          <div class="group-2">
            <div class="group-3">
              <div class="text-wrapper-2">Email</div>
            </div>
            <div class="group-wrapper">
              <div class="group-4">
                <div class="text-wrapper-2">Contraseña</div>
              </div>
            </div>
          </div>
        </div>

        <input
          type="text"
          formControlName="email"
          placeholder="Correo electrónico"
          class="input"
          required
        />

        <input
          type="password"
          formControlName="password"
          placeholder="Contraseña"
          class="input-2"
          required
        />

        <button type="submit" class="btn-acceder">
          <div class="text-wrapper-4">Acceder</div>
        </button>
      </div>

      <!-- Botón Google debajo de Acceder -->
      <div class="google-container">
        <button type="button" class="btn-google" (click)="loginWithGoogle()">
          <img
            src="https://developers.google.com/identity/images/g-logo.png"
            alt="Google"
            width="20"
            height="20"
            style="margin-right: 8px"
          />
          Iniciar sesión con Google
        </button>
      </div>

      <img class="logo-secundario" src="assets/logoSecundario.png" />

      <div class="group-5">
        <div class="text-wrapper-5">¿No tienes cuenta?</div>
        <a class="text-wrapper-6" [routerLink]="['/register']">Crear cuenta</a>
      </div>
    </div>

    <img class="img" src="assets/imgLogin.png" />
  </div>
</form>
