<form (ngSubmit)="login()" class="login">
  <div class="div">
    <div class="frame">
      <div class="overlap-group">
        <div class="group">
          <div class="div-wrapper">
            <div class="text-wrapper">Accede a tu cuenta</div>
          </div>
          <div class="group-2">
            <div class="group-3">
              <div class="text-wrapper-2">Email</div>
            </div>
            <div class="group-wrapper">
              <div class="group-4">
                <div class="text-wrapper-2">Contraseña</div>
              </div>
            </div>
          </div>
        </div>

        <!-- CORRECCIÓN: input estilizado directamente -->
        <input
          type="text"
          name="usernameOrEmail"
          [(ngModel)]="loginForm.usernameOrEmail"
          placeholder="Correo electrónico"
          class="input"
          required
        />

        <input
          type="password"
          name="password"
          [(ngModel)]="loginForm.password"
          placeholder="Contraseña"
          class="input-2"
          required
        />

        <button type="submit" class="btn-acceder">
          <div class="text-wrapper-4">Acceder</div>
        </button>
      </div>

      <img class="logo-secundario" src="assets/logoSecundario.png" />

      <div class="group-5">
        <div class="text-wrapper-5">¿No tienes cuenta?</div>
        <a class="text-wrapper-6" routerLink="/register">Crear cuenta</a>
      </div>

    </div>

    <img class="img" src="assets/imgLogin.png" />
  </div>
</form>
