<div class="login">
  <div class="div">
    <div class="overlap">
      <div class="text-wrapper">Crear cuenta</div>
      <img class="element-removebg-preview" src="assets/1-removebg-preview (1) 1.png" />
    </div>

    <div class="frame" (click)="navigateTo('paciente')" style="cursor: pointer">
      <div class="text-wrapper-2">Paciente</div>
      <div class="overlap-group">
        <p class="p">Crea tu perfil para poder contactar con psicólogos.</p>
        <img class="image-removebg" src="assets/image-removebg-preview (1) 1.png" />
      </div>
    </div>

    <div class="frame-2" (click)="navigateTo('psicologo')" style="cursor: pointer">
      <img class="img" src="assets/image-removebg-preview 1.png" />
      <div class="text-wrapper-3">Psicólogo</div>
      <p class="crea-tu-perfil-para">Contacta con pacientes y otros psicólogos.</p>
    </div>

    <div class="group">
      <img class="line" src="assets/line.svg" />
      <div class="text-wrapper-4">¿Ya tienes una cuenta?</div>
    </div>

    <a routerLink="/login" class="text-wrapper-5">Accede a tu cuenta</a>
  </div>
</div>

