<div class="mi_cuenta_contenido">
  <div class="mi-cuenta"><span class="micuenta_span">Mi cuenta</span></div>
  <div class="frame-125">
    <div class="rectangle-187"></div>
    <div class="configuracin-de-la-cuenta"><span class="configuracindelacuenta_span">Configuración de la cuenta</span></div>
    <div class="nombres"><span class="nombres_span">Nombres:</span></div>
    <div class="apellidos"><span class="apellidos_span">Apellidos: </span></div>
    <div class="correo-electrnico"><span class="correoelectrnico_span">Correo electrónico:</span></div>
    <div class="telfono"><span class="telfono_span">Teléfono:</span></div>
    <div class="direccin"><span class="direccin_span">Dirección: </span></div>
    <div class="frame-61variant3">
      <div class="empty-label"><span class="emptylabel_span">Empty label</span></div>
    </div>
    <div class="frame-61variant3_01">
      <div class="empty-label_01"><span class="emptylabel_01_span">Empty label</span></div>
    </div>
    <div class="frame-61variant3_02">
      <div class="empty-label_02"><span class="emptylabel_02_span">Empty label</span></div>
    </div>
    <div class="frame-61variant3_03">
      <div class="empty-label_03"><span class="emptylabel_03_span">Empty label</span></div>
    </div>
    <div class="frame-61variant3_04">
      <div class="empty-label_04"><span class="emptylabel_04_span">Empty label</span></div>
    </div>
    <div data-property-1="Default" class="btn_trabaja">
      <div class="trabaja-con-nosotros"><span class="trabajaconnosotros_span">   Guardar cambios</span></div>
    </div>
    <div class="signup_button">
      <div class="sign-up"><span class="signup_span">Cancelar</span></div>
    </div>
  </div>
  <div class="frame-126">
    <div class="rectangle-186"></div>
    <div class="mis-citas" routerLink="/paciente/mi_cuenta/visualizar-cita"><span class="miscitas_span">Mis citas</span></div>
    <div class="line-44"></div>
    <div data-property-1="Default" class="configuracin-de-la-cuenta_01">
      <div class="configuracin-de-la-cuenta_02"><span class="configuracindelacuenta_02_span">Configuración de la cuenta</span></div>
    </div>
  </div>
</div>