<div class="frame-pantalla">
  <div class="mi-cuenta"><span class="micuenta_span">Mi cuenta</span></div>
  <div class="frame-citas">
    <div class="rectangle-187">
        <div class="mis-citas"><span class="miscitas_span">Mis citas</span></div>
        <div class="cita_virtual">
        <div class="frame-427318907">
            <div class="psiclogo"><span class="psiclogo_span">Psicólogo</span></div>
            <div class="carla-torres-medina"><span class="carlatorresmedina_span">Carla Torres Medina</span></div>
            <div class="hora-de-cita"><span class="horadecita_span">Hora de cita</span></div>
            <div class="text-1040-am"><span class="f040am_span">10:40 AM</span></div>
            <div class="fecha-de-cita"><span class="fechadecita_span">Fecha de cita</span></div>
            <div class="text-20052025"><span class="f0052025_span">20/05/2025</span></div>
        </div>
        <div class="virtual"><span class="virtual_span">Virtual</span></div>
        <div class="modalidad"><span class="modalidad_span">Modalidad</span></div>
        </div>
        <div class="cita_presencial">
        <div class="frame-427318907_01">
            <div class="psiclogo_01"><span class="psiclogo_01_span">Psicólogo</span></div>
            <div class="carla-torres-medina_01"><span class="carlatorresmedina_01_span">Carla Torres Medina</span></div>
            <div class="fecha-de-cita_01"><span class="fechadecita_01_span">Fecha de cita</span></div>
            <div class="text-20052025_01"><span class="f0052025_01_span">20/05/2025</span></div>
            <div class="hora-de-cita_01"><span class="horadecita_01_span">Hora de cita</span></div>
            <div class="text-1040-am_01"><span class="f040am_01_span">10:40 AM</span></div>
        </div>
        <div class="presencial"><span class="presencial_span">Presencial</span></div>
        <div class="modalidad_01"><span class="modalidad_01_span">Modalidad</span></div>
        <div class="direccin"><span class="direccin_span">Dirección</span></div>
        <div class="av-benavides-1034-miraflores"><span class="avbenavides1034miraflores_span">Av. Benavides 1034, Miraflores</span></div>
        </div>
    </div>
  </div>
  <div class="frame-126">
    <div class="rectangle-186"></div>
    <div class="mis-citas_01"><span class="miscitas_01_span">Mis citas</span></div>
    <div class="line-44"></div>
    <div data-property-1="Default" class="configuracin-de-la-cuenta">
      <a class="configuracin-de-la-cuenta_01" 
      routerLink="/paciente/mi_cuenta/configuracion" >
      <span class="configuracindelacuenta_01_span">Configuración de la cuenta</span>
    </a>
    </div>
  </div>
</div>